### Not very optimized neural net

In [1]:
import pandas as pd # for reading csv files
import numpy as np # for doing stuff related to linear algebra
import matplotlib.pyplot as plt # for plotting and stuff
import seaborn as sns # for some more plotting
import warnings # to ignore useless warnings - as if anyone cares about warnings
warnings.filterwarnings('ignore')

# for NeuralNet stuff
import tensorflow as tf
from tensorflow import keras
from keras.callbacks import TensorBoard

In [2]:
train = pd.read_csv('train.csv') # reading train.csv
test = pd.read_csv('test.csv') # reading test.csv

In [3]:
train.head() # printing first 5 rows of the data set

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train['Cabin'] = train['Cabin'].apply(lambda i: i[0] if pd.notnull(i) else 'N')
test['Cabin'] = test['Cabin'].apply(lambda i: i[0] if pd.notnull(i) else 'N')

In [5]:
train['Cabin'].unique() # N is for null values

array(['N', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [6]:
train[train['Cabin'] == 'T'].index.values # there is a single cabin with value 'T'
train['Cabin'].iloc[339]

'T'

In [7]:
index = train[train['Cabin'] == 'T'].index # adding that 'T' person to 'A'
train.loc[index, 'Cabin'] = 'A'

In [8]:
train.iloc[339]

PassengerId                             340
Survived                                  0
Pclass                                    1
Name           Blackwell, Mr. Stephen Weart
Sex                                    male
Age                                      45
SibSp                                     0
Parch                                     0
Ticket                               113784
Fare                                   35.5
Cabin                                     A
Embarked                                  S
Name: 339, dtype: object

In [9]:
# for all the plotting stuff and analysis work refer to Untitled1.ipynb

In [10]:
def handel_non_numeric_data(train): # converting non numeric values to numeric
    columns = train.columns.values
    
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if train[column].dtype != np.int64 and train[column].dtype != np.float64:
            column_contents = train[column].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            train[column] = list(map(convert_to_int, train[column]))
    return train

In [11]:
train = handel_non_numeric_data(train)
test = handel_non_numeric_data(test)

In [12]:
train.head() # converted data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,883,1,22.0,1,0,412,7.2500,7,0
1,2,1,1,309,0,38.0,1,0,325,71.2833,3,1
2,3,1,3,644,0,26.0,0,0,243,7.9250,7,0
3,4,1,1,433,0,35.0,1,0,201,53.1000,3,0
4,5,0,3,722,1,35.0,0,0,358,8.0500,7,0

In [40]:
model = keras.Sequential() # making a sequential model with keras
model.add(keras.layers.Dense(234, input_shape=(7, ), activation='relu')) # adding layers
model.add(keras.layers.Dropout(.2))
model.add(keras.layers.Dense(156, activation='relu'))
model.add(keras.layers.Dropout(.2))
model.add(keras.layers.Dense(2, activation='sigmoid'))

model.summary() # getting model summary

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 234)               1872
_________________________________________________________________
dropout_2 (Dropout)          (None, 234)               0
_________________________________________________________________
dense_13 (Dense)             (None, 156)               36660
_________________________________________________________________
dropout_3 (Dropout)          (None, 156)               0
_________________________________________________________________
dense_14 (Dense)             (None, 2)                 314
=================================================================
Total params: 38,846
Trainable params: 38,846
Non-trainable params: 0
_________________________________________________________________

In [41]:
model.compile(optimizer='adam',  # compiling
	          loss=keras.losses.SparseCategoricalCrossentropy(),
	          metrics=['accuracy'])

tensorboard = TensorBoard(log_dir="logs/{}".format('titanic')) # adding callbacks

In [42]:
x = np.column_stack((train.Pclass.values, train.Sex.values, train.Age.values, train.Parch.values, train.Fare.values,
                    train.Cabin.values, train.Embarked.values)) # stacking usefull columns

In [45]:
model.fit(x, train.Survived.values, batch_size=6,validation_split=.1, epochs=6, callbacks=[tensorboard]) #fitting the data into the model

Epoch 1/6
  1/134 [..............................] - ETA: 0s - loss: 0.8864 - accuracy: 0.1667WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0050s vs `on_train_batch_end` time: 0.0335s). Check your callbacks.
134/134 [==============================] - 1s 8ms/step - loss: 0.6704 - accuracy: 0.6155 - val_loss: 0.6631 - val_accuracy: 0.6222
Epoch 2/6
134/134 [==============================] - 1s 6ms/step - loss: 0.6668 - accuracy: 0.6155 - val_loss: 0.6630 - val_accuracy: 0.6222
Epoch 3/6
134/134 [==============================] - 1s 6ms/step - loss: 0.6671 - accuracy: 0.6155 - val_loss: 0.6630 - val_accuracy: 0.6222
Epoch 4/6
134/134 [==============================] - 1s 6ms/step - loss: 0.6672 - accuracy: 0.6155 - val_loss: 0.6631 - val_accuracy: 0.6222
Epoch 5/6
134/134 [==============================] - 1s 6ms/step - loss: 0.6665 - accuracy: 0.6155 - val_loss: 0.6631 - val_accuracy: 0.6222
Epoch 6/6
134/134 [==============================] - 1s 5ms/step - loss: 0.6676 - accuracy: 0.6155 - val_loss: 0.6630 - val_accuracy: 0.6222

In [52]:
y = np.column_stack((test.Pclass.values, test.Sex.values, test.Age.values, test.Parch.values, test.Fare.values,
                    test.Cabin.values, test.Embarked.values))
predictions = model.predict(y)

In [53]:
predictions[100]

array([0.6038807 , 0.37596536], dtype=float32)